.content {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.3;
}

.icon-drag {
    color: white;
    -webkit-app-region: drag;
    opacity: 0.45;
}

.icon-back {
    margin-left: 10px;
    color: white;
    opacity: 0.45;
}

.icon-back:hover {
    opacity: 4;
}