.nimbus-image {
    width: 30%;
    margin: auto;
    display: block;
    opacity: 0.8;
}

.title {
    width: 50%;
    margin: auto;
    display: block;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.message {
    margin: auto;
    display: block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    text-align: center;
    color: white;
    opacity: 0.4;
}
