.url-input {
    display: flex;
    margin-top: 10%;
}

.input {
    width: 50%;
    height: 40px;
    margin: auto;
    display: block;
    background: transparent;
    border: none;
    background-color: rgba(105, 105, 105, 0.2);
    border-style: none;
    font-family: Arial, FontAwesome;
    padding-left: 10px;
    font-size: 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.input::placeholder {
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.8);
}

.input::text {
    margin-left: 5px;
    color: white;
}

.invalid {
    background: #ffb2b2;
}

.empty {
    background: white;
}