.url-input {
    margin-top: 20%;
}

.input {
    width: 50%;
    height: 40px;
    margin: auto;
    display: block;
    background-color: grey;
    border-style: none;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
}

.input::placeholder {
    color: #D3D3D3;
    opacity: 0.5;
}

.valid {
    background: #d5fdd5;
}

.invalid {
    background: #ffb2b2;
}

.empty {
    background: white;
}